<IfModule mod_rewrite.c>

RewriteEngine On

#remove PHPSESSID 

RewriteCond %{QUERY_STRING} PHPSESSID=.*$ 

RewriteRule .* %{REQUEST_URI}? [R=301,L]

</IfModule>
RewriteBase /

RewriteCond %{HTTP_HOST} !^www\.

RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^admin/$ admin/index.php [L]

RewriteRule ^$ index.php [L]

RewriteRule ^company-profile/$ company-profile.php  [L]

RewriteRule ^mission-vision/$ mission-vision.php [L]

RewriteRule ^services/$ services.php  [L]

RewriteRule ^enquiry/$ enquiry.php  [L]

RewriteRule ^reach-us/$ reach-us.php  [L]


RewriteRule ^product/([^/]*)/$ bone-china-crockery.php?url=$1 [L]

RewriteRule ^product/([^/]*)/([^/]*)/([^/]*)/$ bone-china-crockery.php?url=$1&set=$2&page=$3 [L]

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.html>
SetOutputFilter DEFLATE
</files>